<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.nfvelten.agentcodebuddy">

    <uses-sdk android:minSdkVersion="26" android:targetSdkVersion="36" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <application
        android:allowBackup="false"
        android:usesCleartextTraffic="true"
        android:theme="@style/AppTheme"
        android:label="@string/app_name"
        android:icon="@drawable/ic_launcher"
        android:resizeableActivity="true">

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.nfvelten.agentcodebuddy.OPEN" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <receiver
            android:name=".ApprovalReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="com.nfvelten.agentcodebuddy.APPROVAL" />
                <action android:name="com.nfvelten.agentcodebuddy.DECIDE" />
            </intent-filter>
        </receiver>
    </application>
</manifest>
